
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
}

h1 {
    color: #4facfe;
    margin-bottom: 20px;
}

#mensagem {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #4facfe;
    background: #f7f9fc;
    padding: 10px;
    border-radius: 8px;
       box-shadow: inset 0 0 8px rgba(0,0,0,0.05);
    animation: fadeIn 0.6s ease-in-out;
}

/* Animação suave */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}