:root {
    --primary-color: #0044ff;
    --primary-color-dark: rgb(16, 4, 121);
    --success: #c7febd;
    --danger: #ce6262;
    --dark: #000000;
    --branco: #ffffff;
    --primary-color-bligth: #0985eb;
}
* {
    box-sizing: border-box;
    outline: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    margin: 20px;
}
.container2 {
    max-width: 400px;
    background-color:var(--branco);
    padding: 20px;
    border-radius: 10px;
}
.container2 h1{
    text-align: center;
    line-height: 41px;
}
.contaner2 label{
    font-weight: bold;
    color: var(--primary-color);
}
.container2 input{
    border-radius: 6px;
    background-color: cyan;
}
.container2 select{
    border-radius: 8px;
    background-color: cyan;
}
.container2 button{
    border-radius: 15px;
}
form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
fomr input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    border-radius: 4px;
}
form input:focus{
    border: 0;
    outline: 2px solid var(--primary-color);
}
form button {
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    border-radius:4px;
    margin-top: 30px;
}
form button:hover, form button:active{
    background-color: var(--primary-color-dark);
}
form .paragrafo-resultado{
    background-color: var(--success);
}
form .paragrafo-invalido {
    background-color: var(--danger);
}
form .paragrafo-resultado, form .paragrafo-invalido {
    padding: 10px 20px;
}
#lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
}
.card {
    border-radius: 20px;
    padding:1px 15px;
    border-bottom: 2px outset var(--dark);
}
.card h3{
    font-size: 35px;
}
.card p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.card .prioridade{
    font-weight: bold;
}
.card .prioridade span{
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--dark);
}
